USE [FAP_AttendenceChecking]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[sid] [varchar](50) NULL,
	[lid] [varchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Role]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Role](
	[username] [varchar](50) NOT NULL,
	[rid] [int] NOT NULL,
 CONSTRAINT [PK_Account_Role] PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendence]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendence](
	[sessionId] [int] NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[status] [int] NULL,
	[description] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[id] [int] NOT NULL,
	[fname] [nvarchar](50) NOT NULL,
	[furl] [varchar](1000) NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[groupId] [int] NOT NULL,
	[groupName] [varchar](50) NOT NULL,
	[subjectCode] [varchar](50) NOT NULL,
	[lectureCode] [varchar](50) NULL,
 CONSTRAINT [PK_Group2] PRIMARY KEY CLUSTERED 
(
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecture]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecture](
	[lectureCode] [varchar](50) NOT NULL,
	[lectureName] [nvarchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[image] [varchar](100) NULL,
 CONSTRAINT [PK_Lecture] PRIMARY KEY CLUSTERED 
(
	[lectureCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Feature]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Feature](
	[rid] [int] NOT NULL,
	[fid] [int] NOT NULL,
 CONSTRAINT [PK_Role_Feature] PRIMARY KEY CLUSTERED 
(
	[rid] ASC,
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[room] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[groupId] [int] NOT NULL,
	[timeSlot] [int] NOT NULL,
	[date] [date] NOT NULL,
	[room] [varchar](50) NOT NULL,
	[lectureCode] [varchar](50) NOT NULL,
	[num] [int] NOT NULL,
	[sessionid] [int] IDENTITY(1,1) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[sessionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[image] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[dob] [date] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentInGroup]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentInGroup](
	[groupId] [int] NOT NULL,
	[studentId] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectCode] [varchar](50) NOT NULL,
	[subjectName] [varchar](50) NOT NULL,
	[numberOfSlots] [int] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 11/19/2022 2:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[slot] [int] NOT NULL,
	[startTime] [time](0) NOT NULL,
	[endTime] [time](7) NOT NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[slot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [sid], [lid]) VALUES (N'anhdd', N'1', NULL, N'Anhdd')
INSERT [dbo].[Account] ([username], [password], [sid], [lid]) VALUES (N'bantq', N'2', NULL, N'bantq')
INSERT [dbo].[Account] ([username], [password], [sid], [lid]) VALUES (N'donnt', N'2', NULL, N'donnt')
GO
INSERT [dbo].[Account_Role] ([username], [rid]) VALUES (N'anhdd', 2)
INSERT [dbo].[Account_Role] ([username], [rid]) VALUES (N'bantq', 2)
INSERT [dbo].[Account_Role] ([username], [rid]) VALUES (N'donnt', 2)
GO
INSERT [dbo].[Attendence] ([sessionId], [studentId], [status], [description]) VALUES (39, N'HE160110', 1, NULL)
INSERT [dbo].[Attendence] ([sessionId], [studentId], [status], [description]) VALUES (39, N'HE160111', 1, NULL)
INSERT [dbo].[Attendence] ([sessionId], [studentId], [status], [description]) VALUES (39, N'HE160131', 1, NULL)
GO
INSERT [dbo].[Feature] ([id], [fname], [furl]) VALUES (1, N'view student timetabe', N'/student/timetable')
INSERT [dbo].[Feature] ([id], [fname], [furl]) VALUES (2, N'view student report', N'/student/report')
INSERT [dbo].[Feature] ([id], [fname], [furl]) VALUES (3, N'take attendence', N'/lecture/takeatt')
GO
INSERT [dbo].[Group] ([groupId], [groupName], [subjectCode], [lectureCode]) VALUES (1, N'SE1601', N'PRJ', N'sonnt')
INSERT [dbo].[Group] ([groupId], [groupName], [subjectCode], [lectureCode]) VALUES (2, N'SE1601', N'DBI', N'bantq')
INSERT [dbo].[Group] ([groupId], [groupName], [subjectCode], [lectureCode]) VALUES (3, N'SE1601', N'LAB', N'tuanvm')
GO
INSERT [dbo].[Lecture] ([lectureCode], [lectureName], [dob], [gender], [email], [image]) VALUES (N'Anhdd', N'Đặng Đức Anh ', CAST(N'1991-01-01' AS Date), 1, N'anhdd@fpt.edu.vn', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFv_nEfHvtp-RmHSIO3sdzGDdZ0QEtGZAjDw&usqp=CAU')
INSERT [dbo].[Lecture] ([lectureCode], [lectureName], [dob], [gender], [email], [image]) VALUES (N'bantq', N'Trần Qúy Ban ', CAST(N'1997-11-12' AS Date), 1, N'bantq3@fpt.edu.vn', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFv_nEfHvtp-RmHSIO3sdzGDdZ0QEtGZAjDw&usqp=CAU')
INSERT [dbo].[Lecture] ([lectureCode], [lectureName], [dob], [gender], [email], [image]) VALUES (N'donnt', N'Nguyễn Thành Đôn', CAST(N'1993-05-05' AS Date), 1, N'donnt@fpt.edu.vn', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFv_nEfHvtp-RmHSIO3sdzGDdZ0QEtGZAjDw&usqp=CAU')
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [roleName]) VALUES (1, N'student')
INSERT [dbo].[Role] ([id], [roleName]) VALUES (2, N'lecture')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Role_Feature] ([rid], [fid]) VALUES (1, 1)
INSERT [dbo].[Role_Feature] ([rid], [fid]) VALUES (1, 2)
INSERT [dbo].[Role_Feature] ([rid], [fid]) VALUES (2, 3)
GO
INSERT [dbo].[Room] ([room]) VALUES (N'BE101')
INSERT [dbo].[Room] ([room]) VALUES (N'BE102')
INSERT [dbo].[Room] ([room]) VALUES (N'BE103')
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([groupId], [timeSlot], [date], [room], [lectureCode], [num], [sessionid], [status]) VALUES (1, 1, CAST(N'2022-09-06' AS Date), N'BE101', N'sonnt', 1, 1, 1)
INSERT [dbo].[Session] ([groupId], [timeSlot], [date], [room], [lectureCode], [num], [sessionid], [status]) VALUES (1, 2, CAST(N'2022-09-06' AS Date), N'BE101', N'bantq', 2, 2, 1)
INSERT [dbo].[Session] ([groupId], [timeSlot], [date], [room], [lectureCode], [num], [sessionid], [status]) VALUES (1, 1, CAST(N'2022-09-08' AS Date), N'BE101', N'sonnt', 3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
INSERT [dbo].[Student] ([id], [name], [gender], [image], [email], [dob]) VALUES (N'HE160001', N'A01', 1, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuKUc8fBSCr5p81uo8CyOp34AJKZXS2CJTSULBQiyY&s', N'a1@fpt.edu.vn', NULL)
INSERT [dbo].[Student] ([id], [name], [gender], [image], [email], [dob]) VALUES (N'HE160002', N'A02', 0, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuKUc8fBSCr5p81uo8CyOp34AJKZXS2CJTSULBQiyY&s', N'a2@fpt.edu.vn', NULL)
INSERT [dbo].[Student] ([id], [name], [gender], [image], [email], [dob]) VALUES (N'HE160003', N'A03', 1, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuKUc8fBSCr5p81uo8CyOp34AJKZXS2CJTSULBQiyY&s', N'a3@fpt.edu.vn', NULL)
GO
INSERT [dbo].[StudentInGroup] ([groupId], [studentId]) VALUES (1, N'HE160001')
INSERT [dbo].[StudentInGroup] ([groupId], [studentId]) VALUES (1, N'HE160002')
INSERT [dbo].[StudentInGroup] ([groupId], [studentId]) VALUES (1, N'HE160003')
GO
INSERT [dbo].[Subject] ([subjectCode], [subjectName], [numberOfSlots]) VALUES (N'CEA', N'Computer organization and architecture', 30)
INSERT [dbo].[Subject] ([subjectCode], [subjectName], [numberOfSlots]) VALUES (N'CSD', N'Data structure and algorithm', 30)
INSERT [dbo].[Subject] ([subjectCode], [subjectName], [numberOfSlots]) VALUES (N'CSI', N'Introduction to computer science', 30)
GO
INSERT [dbo].[TimeSlot] ([slot], [startTime], [endTime]) VALUES (1, CAST(N'07:30:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[TimeSlot] ([slot], [startTime], [endTime]) VALUES (2, CAST(N'09:10:00' AS Time), CAST(N'10:40:00' AS Time))
INSERT [dbo].[TimeSlot] ([slot], [startTime], [endTime]) VALUES (3, CAST(N'10:50:00' AS Time), CAST(N'12:20:00' AS Time))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Lecture] FOREIGN KEY([lid])
REFERENCES [dbo].[Lecture] ([lectureCode])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Lecture]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Student] FOREIGN KEY([sid])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Student]
GO
ALTER TABLE [dbo].[Account_Role]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Account_Role] CHECK CONSTRAINT [FK_Account_Role_Account]
GO
ALTER TABLE [dbo].[Account_Role]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role_Role] FOREIGN KEY([rid])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Account_Role] CHECK CONSTRAINT [FK_Account_Role_Role]
GO
ALTER TABLE [dbo].[Attendence]  WITH CHECK ADD  CONSTRAINT [FK_Attendence_Session] FOREIGN KEY([sessionId])
REFERENCES [dbo].[Session] ([sessionid])
GO
ALTER TABLE [dbo].[Attendence] CHECK CONSTRAINT [FK_Attendence_Session]
GO
ALTER TABLE [dbo].[Attendence]  WITH CHECK ADD  CONSTRAINT [FK_Attendence_Student] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Attendence] CHECK CONSTRAINT [FK_Attendence_Student]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD FOREIGN KEY([lectureCode])
REFERENCES [dbo].[Lecture] ([lectureCode])
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group2_Subject] FOREIGN KEY([subjectCode])
REFERENCES [dbo].[Subject] ([subjectCode])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group2_Subject]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Feature] FOREIGN KEY([fid])
REFERENCES [dbo].[Feature] ([id])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Feature]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Role] FOREIGN KEY([rid])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Role]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Group] FOREIGN KEY([groupId])
REFERENCES [dbo].[Group] ([groupId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Group]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Lecture] FOREIGN KEY([lectureCode])
REFERENCES [dbo].[Lecture] ([lectureCode])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Lecture]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Room] FOREIGN KEY([room])
REFERENCES [dbo].[Room] ([room])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Room]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_TimeSlot] FOREIGN KEY([timeSlot])
REFERENCES [dbo].[TimeSlot] ([slot])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_TimeSlot]
GO
ALTER TABLE [dbo].[StudentInGroup]  WITH CHECK ADD  CONSTRAINT [FK_StudentInGroup_Group] FOREIGN KEY([groupId])
REFERENCES [dbo].[Group] ([groupId])
GO
ALTER TABLE [dbo].[StudentInGroup] CHECK CONSTRAINT [FK_StudentInGroup_Group]
GO
ALTER TABLE [dbo].[StudentInGroup]  WITH CHECK ADD  CONSTRAINT [FK_StudentInGroup_Student] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[StudentInGroup] CHECK CONSTRAINT [FK_StudentInGroup_Student]
GO
